html,
body,
button,
input,
label,
textarea {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Avenir Next,Helvetica,Arial,Sans-Serif;
}

.width-constraint {
    max-width: 80em;
    margin: 0 auto;
}

label {
    display: block;
}

body > header {
    margin-bottom: 1em;
}

input,
textarea {
    width: 100%;
    padding: 0.5em 1em;
}

button {
    padding: 0.5em 1em;
    background-color: #fff;
    border: 1px solid #ccc;
}
button:hover {
    background-color: #eee;
}
button:active {
    background-color: #ccc;
}

.form-group {
    margin-bottom: 1em;
}

.main-nav {
    margin: 1em 0;
}
.main-nav a {
    margin: 0.5em;
    text-decoration: none;
}
.main-nav a.active {
    font-weight: bold;
}

/**
 * basic layout
 */
.row-container {
    display: flex;
}
.row-container .fill {
    flex: 1;
}

.card {
    max-width: 30em;
    background-color: #fff;
    padding: 1em;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 1em;
}
.card .actions {
    display: flex;
    justify-content: flex-end;
}

.info-table {
    border-collapse: collapse;
}
.info-table tbody tr:nth-child(even) {
    background-color: #eee;
}
.info-table td,
.info-table th {
    border: 1px solid #ccc;
    padding: 0.5rem;
}
.info-table .align-right {
    text-align: right;
}
/**
 * for getting text in the talbe cell to show up one line with ellipsis
 */
.table-with-elipsis {
    table-layout: fixed;
}
.table-with-elipsis td,
.table-with-elipsis th {
    max-width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
